// Grid

/* Grids en Página References */

.contenedor-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (3);
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (3);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px 5px;
}

.estilo-contenedor {
    padding: 5px;
    text-align: center;
    align-items: center;
    height: 100vh;
}


/* Convertir img en responsive */

.img44 {
    height: auto;
    max-width: 100%;
}